In [92]:
import pandas as pd
import numpy as np

In [93]:
import os

In [94]:
os.listdir()

['Decision Trees.ipynb',
 'data_dt.csv',
 'des.ipynb',
 'Untitled.ipynb',
 '.ipynb_checkpoints']

In [95]:
df=pd.read_csv('data_dt.csv')

In [96]:
df.head()

   ID     Age  Income  Gender Martial Status Buys
0   1    0-21    High    Male         Single   No
1   2    0-21    High    Male        Married   No
2   3   21-35    High    Male         Single  Yes
3   4  35-100  Medium    Male         Single  Yes
4   5  35-100     Low  Female         Single  Yes

In [97]:
from sklearn.preprocessing import LabelEncoder

In [98]:
le=LabelEncoder()

In [99]:
df['Age']=le.fit_transform(df['Age'])

In [100]:
df

    ID  Age  Income  Gender Martial Status Buys
0    1    0    High    Male         Single   No
1    2    0    High    Male        Married   No
2    3    1    High    Male         Single  Yes
3    4    2  Medium    Male         Single  Yes
4    5    2     Low  Female         Single  Yes
5    6    2     Low  Female        Married   No
6    7    1     Low  Female        Married  Yes
7    8    0  Medium    Male         Single   No
8    9    0     Low  Female        Married  Yes
9   10    2  Medium  Female         Single  Yes
10  11    0  Medium  Female        Married  Yes
11  12    1  Medium    Male        Married  Yes
12  13    1    High  Female         Single  Yes
13  14    2  Medium    Male        Married   No

In [101]:
df['Income']=le.fit_transform(df['Income'])

In [102]:
df['Gender']=le.fit_transform(df['Gender'])

In [103]:
df['Martial Status']=le.fit_transform(df['Martial Status'])

In [104]:
df['Buys']=le.fit_transform(df['Buys'])

In [105]:
from sklearn.model_selection import train_test_split

In [106]:
xtrain,xtest,ytrain,ytest=train_test_split(df.iloc[:,:-2],df.iloc[:,-1],test_size=0.2)

In [107]:
xtest

   ID  Age  Income  Gender
5   6    2       1       0
6   7    1       1       0
2   3    1       0       1

In [108]:
df

    ID  Age  Income  Gender  Martial Status  Buys
0    1    0       0       1               1     0
1    2    0       0       1               0     0
2    3    1       0       1               1     1
3    4    2       2       1               1     1
4    5    2       1       0               1     1
5    6    2       1       0               0     0
6    7    1       1       0               0     1
7    8    0       2       1               1     0
8    9    0       1       0               0     1
9   10    2       2       0               1     1
10  11    0       2       0               0     1
11  12    1       2       1               0     1
12  13    1       0       0               1     1
13  14    2       2       1               0     0

In [109]:
from sklearn.tree import DecisionTreeClassifier

In [110]:
classifier=DecisionTreeClassifier()

In [111]:
classifier.fit(xtrain,ytrain)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [112]:
classifier.score(xtest,ytest)

0.6666666666666666

In [113]:
from sklearn.externals.six import StringIO
from sklearn.tree import export_graphviz
import pydotplus

In [114]:
dot_data=StringIO()

In [116]:
export_graphviz(classifier,filled=True,out_file=dot_data,rounded=True,special_characters=True)

In [118]:
graph=pydotplus.graph_from_dot_data(dot_data.getvalue())

In [119]:
graph.write_png('lol.png')

True

In [35]:
from sklearn.preprocessing import OneHotEncoder

In [36]:
import socket

In [37]:
client=socket.socket()

In [38]:
client.connect((socket.gethostname(),5001))

In [39]:
p=client.recv(1024).decode()

In [40]:
p

'42'

In [50]:
q=23

In [54]:
x=6

In [52]:
def primitive(a):
    b=[]
    for i in range(a):
        p=[]
        flag=0
        for j in range(a):
            p.append((i**j)%a)
        for k in range(1,a):
            if k not in p:
                flag=1
        if flag==0:
            b.append(i)
    return b

In [53]:
primitive(q)

[5, 7, 10, 11, 14, 15, 17, 19, 20, 21]

In [58]:
y=(5**x)%q

In [59]:
y

8

In [57]:
(17**x)%23

12

In [67]:
p=11

In [68]:
q=7

In [69]:
n=p*q

In [70]:
n

77

In [71]:
phi=(p-1)*(q-1)

In [72]:
phi

60

In [73]:
def coprime(a,b):
    if(a>b):
        x=a
        y=b
    elif(a==b):
        return a
    else:
        x=b
        y=a
    temp=1   
    for i in range(1,x):
        if(x%i==0 and y%i==0 and i>temp):
            temp=i
    return temp

In [74]:
coprime(phi,5)

5

In [75]:
e=2
while (e<phi):
    if (coprime(e,phi)==1):
        break
    e=e+1

In [76]:
e

7

In [77]:
phi

60

In [78]:
i=1
while True:
    if(((phi*i)+1)%e)==0:
        d=((phi*i)+1)/e
        break
    i=i+1

In [79]:
d=int(d)

In [80]:
d

43

In [81]:
i

5

In [82]:
((phi*i)+1)/e

43.0

In [83]:
ord("a")

97

In [93]:
str(97)

'97'

In [94]:
chr(97)

'a'

In [87]:
49**e%n

14

In [88]:
14**d%n

49

In [65]:
def isprime(num):
    return 2 in [num,2**num%num]

p=int(input("enter prime number p : "))
q=int(input("enter prime number q : "))
print("Choosen primes:\np=" + str(p) + ", q=" + str(q) + "\n")
n=p*q
phi=(p-1)*(q-1)
print("Euler's function (totient) [phi(n)]: " + str(phi) + "\n")

def gcd(a,b):
    while b!=0:
        a,b=b,a%b
    return a

def modinverse(a,m):
    for i in range(1,m):
        d=float(((m*i)+1)/a)
        if d.is_integer():
            return int(d)
    return None

def coprimes(a):
    l=[]
    for i in range(2,a):
        if gcd(a,i)==1:
            l.append(i)
    return l


print("choose e from following numbers : ",coprimes(phi))

e=int(input())

d=modinverse(e,phi)
print("public key is : [%d,%d]"%(e,n))
print("private key is : [%d,%d]"%(d,n))
while True:
    p=int(input("enter palin text to be encrypt : "))
    if(p<n):
        break
    else:print("text to be encrypt must be less than n : ",n)
c=p**e%n
print("encrypted cypher text is : ",c)

p=c**d%n
print("decrypted plain text is : ",p)

enter prime number p : 11
enter prime number q : 7
Choosen primes:
p=11, q=7

Euler's function (totient) [phi(n)]: 60

choose e from following numbers :  [7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49, 53, 59]
7
public key is : [7,77]
private key is : [43,77]
enter palin text to be encrypt : 98
text to be encrypt must be less than n :  77
enter palin text to be encrypt : 44
encrypted cypher text is :  44
decrypted plain text is :  44

In [25]:
98**3%483

308

In [26]:
308**147%483

98

In [27]:
def gcd(a,b):
    while b!=0:
        a,b=b,a%b
    return a

In [28]:
gcd(21,98)

7

In [29]:
coprime(21,98)

7

In [30]:
def modinverse(a,m):
    for i in range(1,m):
        d=float(((m*i)+1)/a)
        if d.is_integer():
            return int(d)
    return None

In [34]:
def coprimes(a):
    l=[]
    for i in range(2,a):
        if gcd(a,i)==1:
            l.append(i)
    return l

In [35]:
coprimes(phi)

[3,
 7,
 9,
 13,
 17,
 19,
 21,
 23,
 27,
 29,
 31,
 37,
 39,
 41,
 43,
 47,
 49,
 51,
 53,
 57,
 59,
 61,
 63,
 67,
 69,
 71,
 73,
 79,
 81,
 83,
 87,
 89,
 91,
 93,
 97,
 101,
 103,
 107,
 109,
 111,
 113,
 117,
 119,
 123,
 127,
 129,
 131,
 133,
 137,
 139,
 141,
 147,
 149,
 151,
 153,
 157,
 159,
 161,
 163,
 167,
 169,
 171,
 173,
 177,
 179,
 181,
 183,
 189,
 191,
 193,
 197,
 199,
 201,
 203,
 207,
 211,
 213,
 217,
 219,
 221,
 223,
 227,
 229,
 233,
 237,
 239,
 241,
 243,
 247,
 249,
 251,
 257,
 259,
 261,
 263,
 267,
 269,
 271,
 273,
 277,
 279,
 281,
 283,
 287,
 289,
 291,
 293,
 299,
 301,
 303,
 307,
 309,
 311,
 313,
 317,
 321,
 323,
 327,
 329,
 331,
 333,
 337,
 339,
 343,
 347,
 349,
 351,
 353,
 357,
 359,
 361,
 367,
 369,
 371,
 373,
 377,
 379,
 381,
 383,
 387,
 389,
 391,
 393,
 397,
 399,
 401,
 403,
 409,
 411,
 413,
 417,
 419,
 421,
 423,
 427,
 431,
 433,
 437,
 439]

In [36]:
def modinverse(a,m):
    for i in range(1,m):
        d=float(((m*i)+1)/a)
        if d.is_integer():
            return int(d)
    return None

In [37]:
modinverse(e,phi)

147

In [89]:
[1,2,3]+[5,6,7]

[1, 2, 3, 5, 6, 7]

In [ ]:
def subkey(k):
    p10key=tableconvert(k,p10)
    p10keyl=p10key[0:5]
    p10keyr=p10key[5:10]
    
    lsl=le